body{
    background-color: #212121;
    color: white;
    margin: 0;
    padding: 0;
    font-family: cursive;
    width: 100%;
    
}
.nav{
    padding: 10px;
    margin: 0;
    background-color: #212121;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgb(255 255 255 / 10%); */
}
.logo{
      position: relative;
      top: 5px;
      font-size: 25px;
      text-decoration: none; 
      color: white;
    }
.ul{
    display: none;
    color: rgb(255, 255, 255);
    
}
.nav-toggle {
    display: block;
    background-color: #212121;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    right: 20px;
    position: absolute;
    top: 5px;
    font-size: 22px;
    font-weight: bold;
  }
.navbar-btn{
    width: 20px;
    height: 18px;
    pointer-events: none;
  }
  .navbar-Cbtn{
    display: none;
    width: 20px;
    height: 18px;
    pointer-events: none;
  }
  @media (min-width: 768px) {
    .nav-toggle {
      display: none;
    }
    .nav{
      padding: 0;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
      background-color: #212121;
      /* box-shadow: 4px 4px 8px 4px rgb(255 255 255 / 20%); */
  }
    .logo{
      position: relative;
      top: 20px;
      font-size: 25px;
      text-decoration: none;
      color: white; 
    }
    .ul{
    margin-top: -15px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
}
    .svg-navbar{
      width: 20px;
      height: 18px;
      pointer-events: none;
    }
    .navbar{
      list-style: none;
      display: inline;
      padding-right: 40px;
      margin: 2px;
      color: white;
      font-size: 22px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  }
.navbar{
    list-style: none;
    /* display: inline; */
    padding-right: 40px;
    margin: 2px;
    font-size: 18px;
    display: flex;
    color: white;
    justify-content: end;
}
a{
  color: white;
  text-decoration: none;
}